$color-primary: #7DEDFF;
$color-primary-dark: #3EDBF0;

$color-secondary: #96BAFF;
$color-secondary-dark: #7C83FD;

$color-white: #fff;
$color-dark: #000;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light1: #f0f0f0;
$color-grey-light2: #eee;

$color-gold: #FFB400;
$color-golde: #FFEFA0;

