.header-turqie{
    background-image: linear-gradient(to right bottom,
    rgba($color-grey-light1, 0.3),
    rgba($color-grey-light2, 0.3)),
     url(../images/turqie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__content{
        color: $color-white;
        font-size: 1.8rem;
        text-transform: capitalize;
        margin: 5rem 1rem;  
        line-height: 3rem;
        text-shadow: 2px 2px 40px rgb(0 0 0 / 40%);
    }
    
    
}

.section-istanbul{
    background-color: $color-white;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .container-fluid{
        padding-left: 2rem !important;
        padding-right: 2rem !important;

        .text{
            color: $color-grey-dark-3;
        }
    }
}

////////////style of section gallery///////////////
.section-gallery{
  //  background-color: $color-grey-light1;
    padding-top: 3rem;
    padding-bottom: 3rem;


   .carousel-turk{
       .carousel{
           position: relative;
           .carousel-item{
               img{
                   height: 45rem;
               }

               .overlay{
                    position: absolute;
                    background-color: rgba($color-primary-dark, 0.2);
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                }
           }

           .carousel-indicators{
                position: absolute;
                bottom: -3rem;
                right: 0;
               img{
                   width: 5rem;
                   height: 5rem;
                   margin: 2rem .5rem 0 0;
                   


                    
                   &.active{
                       border: 2px solid $color-gold;
                   }
               }
           }

           
       }
   }

  
}